/*.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: @theme-primary;
}*/

cite>a{
  color:@gray-light
}

.text-muted {
    color: #FAD38F;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .panel-body{
    color:@gray-darker;
  }

  cite{
    color:red
  }
  
